@page "/TechnicalDepartment"

@layout Facilities._Layout

<PageTitle>پروژه های عمرانی</PageTitle>

<div class="row">
    <div class="col1-3">
        <ProjectsStatusCard />
    </div>
    <div class="col2-3">
        <div class="card card-double">
            <div class="card empty-card">

            </div>
            <hr class="seperator" />
            <div class="card empty-card">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col1-1">
        <div class="card color-card">
            <div class="card-header">
                <h6 class="title">وضعیت پروژه های عمرانی شهرستان @City!.PersianName</h6>
                <InputSelect class="select" @bind-Value="CityId" @bind-Value:after="SelectCity">
                    @foreach (City city in Cities!)
                    {
                        <option value="@city.Id">@city.PersianName</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col1-2">
        <ProjectsCityCard City=@City />
    </div>
</div>

<div class="row">
    <div class="col1-2">
        <ProjectsRuralCityCard City=@City />
    </div>
    <div class="col1-2">
        <ProjectsTypesCityCard City=@City />
    </div>
</div>

@*
<div class="row mt-3">
    <div class="col1-1">
        <div class="card">
            <div class="card-header">
                <h6 class="title">پروژه های نیمه تمام @city!.PersianName</h6>
                <InputSelect class="select" @bind-Value="cityId" @onclick="SelectCity">
                    @foreach (City city in cities!)
                    {
                        <option value="@city.Id">@city.PersianName</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col1-2">
        <ProjectsRuralCityCard City=@city />
    </div>
    <div class="col1-2">
        <ProjectsTypesCityCard City=@city />
    </div>
</div>
<div class="row">
    <div class="col1-1">
        <ProjectsCityCard City=@city />
    </div>
</div>
*@

@code {
    private AppDbContext context = default!;

    private int CityId = 1;

    private City? City;

    private IQueryable<City>? Cities;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        Cities = context.Cities
            .Where(city => city.Id != 0);

        SelectCity();
    }

    private void SelectCity()
    {
        City = context.Cities
            .FirstOrDefault(c => c.Id == CityId);
    }
}