@page "/Genders/Create"
@using Microsoft.EntityFrameworkCore
@using Reporter.Models
@inject IDbContextFactory<Reporter.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Gender</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Gender" OnValidSubmit="AddGender" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Gender.Name" class="form-control" /> 
                <ValidationMessage For="() => Gender.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/Genders">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Gender Gender { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddGender()
    {
        using var context = DbFactory.CreateDbContext();
        context.Genders.Add(Gender);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/Genders");
    }
}
