@page "/Genders"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Reporter.Models
@using Reporter.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Reporter.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="/Genders/Create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Genders">
    <PropertyColumn Property="gender => gender.Name" />

    <TemplateColumn Context="gender">
        <a href="@($"/Genders/Edit?id={gender.Id}")">Edit</a> |
        <a href="@($"/Genders/Details?id={gender.Id}")">Details</a> |
        <a href="@($"/Genders/Delete?id={gender.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
