@page "/Dashboard/Courses"

@using Microsoft.AspNetCore.Components.QuickGrid

@inject IdentityUserAccessor UserAccessor

<PageTitle>شناسنامه آموزشی</PageTitle>

<AuthorizeView>
	<div class="container py-3">
		@if(User is not null)
		{
			<UserCoursesCard EmployeeId="@User!.Id" />
		}
	</div>
</AuthorizeView>

@code {
	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	private AppDbContext context = default!;
	private Employee? User;

	protected override async Task OnInitializedAsync()
	{
		var user = await UserAccessor.GetRequiredUserAsync(HttpContext);
		if (user is null)
		{
			return;
		}

		context = DbFactory.CreateDbContext();
		User = await context.Employees
			.FirstOrDefaultAsync(employee => employee.AccountId == user!.Id);
	}
}
