@inherits LayoutComponentBase
@inject IHttpContextAccessor ContextAccessor

<nav class="dashboard-navbar">
    <div class="container">
        <a href="/Dashboard">
            <h5 class="nav-user-name">@username</h5>
        </a>
        <DashboardNavMenu />
    </div>
</nav>
<main class="main">
    <div class="content">
        <CascadingValue Value="@User">
            @Body
        </CascadingValue>
    </div>
</main>

@code {
    private ApplicationUser? User { get; set; }
    
    private string? username;

    protected override async Task OnInitializedAsync()
    {
        var user = ContextAccessor.HttpContext!.User;
        User = await UserManager.GetUserAsync(user);
        username = User!.UserName;
    }
}