@inherits LayoutComponentBase

<nav class="dashboard-navbar">
    <div class="container">
        <a href="/Dashboard">
            <h5 class="nav-user-name">پنل کاربری</h5>
        </a>
        <DashboardNavMenu />
    </div>
</nav>
<main class="main">
    <div class="container dashboard-container">
        <aside class="dashboard-sidebar">
            <DashboardSideMenu />
        </aside>
        <div class="content">
            @Body
        </div>
    </div>
</main>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            NavigationManager.Refresh(forceReload: true);
        }
    }
}