::deep.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 12px 8px;
    gap: 8px;
}

    ::deep.nav .nav-item .nav-link {
        padding: 0px 11px;
        display: flex;
        gap: 6px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font: 500 12px 'IRANSans';
        color: var(--dark-color);
    }

        ::deep.nav .nav-item .nav-link.active {
            color: var(--primary-color);
        }

            ::deep.nav .nav-item .nav-link.active:before {
                content: "";
                border-radius: 50%;
                width: 5px;
                aspect-ratio: 1;
                color: var(--primary-color);
                background-color: var(--primary-color);
                margin-right: -11px;
            }
