@inherits LayoutComponentBase

<nav class="primary-navbar">
    <div class="container">
        <DashboardNavMenu />
    </div>
</nav>
<main class="main">
    <div class="content">
        @Body
    </div>
</main>

@code {

}