<ul class="nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="/Dashboard" Match="NavLinkMatch.All">پنل کاربری</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Dashboard/Courses">شناسنامه آموزشی</NavLink>
    </li>
    <AuthorizeView Roles="Administrators">
        <li class="nav-item">
            <NavLink class="nav-link" href="/Dashboard/Employees/Add">افزودن پرسنل</NavLink>
        </li>
    </AuthorizeView>
</ul>
