<ul class="nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="/Dashboard" Match="NavLinkMatch.All">پنل کاربری</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Dashboard/Courses">شناسنامه آموزشی</NavLink>
    </li>
</ul>
