@inherits LayoutComponentBase
@inject IHttpContextAccessor ContextAccessor

<nav class="dashboard-navbar">
    <div class="container">
        <h5 class="nav-user-name">@username</h5>
        <DashboardNavMenu />
    </div>
</nav>
<main class="main">
    <div class="content">
        <CascadingValue Value="@UserId">
            @Body
        </CascadingValue>
    </div>
</main>

@code {
    private string? UserId { get; set; } = default!;

    private ApplicationUser? user = default!;
    private string? username;

    protected override async Task OnInitializedAsync()
    {
        var user = ContextAccessor.HttpContext!.User;
        var loggedUser = await UserManager.GetUserAsync(user);
        username = loggedUser!.UserName;
        UserId = loggedUser!.Id;
    }
}