.main {
    position: relative;
}

.dashboard-navbar {
    top: 0;
    padding: 0 12px;
    max-width: 100%;
    position: sticky;
    background: var(--primary-color);
    overflow-x: clip;
    z-index: 999;
}

    .dashboard-navbar .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }

        .dashboard-navbar .container .nav-user-name {
            color: var(--light-color);
        }
