@using Microsoft.AspNetCore.Identity
@using Reporter.Data

<ul class="nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <img src="/icons/monitoring.svg" />
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Dashboard" Match="NavLinkMatch.All">
            <img src="/icons/dashboard.svg" />
        </NavLink>
    </li>
    <AuthorizeView Roles="Administrators">
        <li class="nav-item">
            <NavLink class="nav-link" href="/Dashboard/HumanResource">امور اداری</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/Dashboard/Employees/Add">افزودن پرسنل</NavLink>
        </li>
    </AuthorizeView>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Dashboard/Courses">شناسنامه آموزشی</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/Dashboard/ChangePassword">
            <img src="/icons/account-settings.svg" />
        </NavLink>
    </li>
    <li class="nav-item">
        <form method="post" action="/Account/Logout">
            <input name="returnUrl" value="" hidden />
            <button type="submit" class="nav-link">
                <img src="/icons/poweroff.svg" />
            </button>
        </form>
    </li>
</ul>

@code {

}
