.dashboard-navbar {
    top: 0;
    height: var(--navbar-height);
    padding: 0 12px;
    max-width: 100%;
    position: sticky;
    background: #00498d;
    overflow-x: clip;
    z-index: 999;
}

    .dashboard-navbar .container {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
    }

        .dashboard-navbar .container .nav-user-name {
            color: var(--light-color);
            margin: 0;
        }

.main {
    position: relative;
    padding-top: var(--spacing-y);
    padding-bottom: var(--spacing-y);
}

    .main .dashboard-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 16px;
    }

        .main .dashboard-container .dashboard-sidebar {
            position: sticky;
            top: calc(var(--navbar-height) + var(--spacing-y));
            border-radius: 4px;
            border: 1px solid lightgray;
            min-width: var(--sidebar-width);
            max-width: var(--sidebar-width);
            height: calc(100vh - (var(--navbar-height) + 2 * (var(--spacing-y))));
            background: rgba(0, 0, 0, .1);
            /*background: var(--light-color);*/
            box-shadow: var(--card-box-shadow);
        }

        .main .dashboard-container .content {
            flex-grow: 1;
            padding: 0;
        }
