.secondary-navbar {
    top: 42px;
    padding: 0 12px;
    position: sticky;
    background: #deebf8e0;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--primary-color);
    overflow-x: clip;
    z-index: 999;
}

    .secondary-navbar .container {
        height: 55px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

        .secondary-navbar .container .sub-title {
            color: var(--primary-color);
            font-weight: 300;
        }

        .secondary-navbar .container .nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            gap: 16px;
        }

::deep.secondary-navbar .container .nav .nav-item a {
    padding: 8px 4px;
    border-radius: 12px;
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    font: 500 12px 'IRANSans';
    color: var(--black-color);
}

    ::deep.secondary-navbar .container .nav .nav-item a.active {
        color: var(--primary-color);
        cursor: default;
    }

.content {
    position: relative;
}
