
<ul class="nav">
    <li>
        <button class="btn">
            <img src="/icons/search.svg" />
        </button>
    </li>
    <li class="nav-item">
        <NavLink href="/" Match="NavLinkMatch.All">آمار مقایسه ای</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/SportsGroup">گروه ورزشی</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/TechnicalDepartment">دفتر فنی</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/WomenGroup">امور بانوان</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/Youth">امور جوانان</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/HumanResource">امور اداری</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/Dashboard">
            <img src="/icons/account.svg" />
        </NavLink>
    </li>
</ul>

@code {

}
