@inherits LayoutComponentBase

<nav class="primary-navbar">
    <div class="container">
        <ul class="nav">
            <li>
                <button class="btn">
                    <img src="/icons/search.svg" />
                </button>
            </li>
            <li class="nav-item">
                <NavLink href="/" Match="NavLinkMatch.All">آمار مقایسه ای</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/SportsGroup/Federations">گروه ورزشی</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/TechnicalDepartment/Facilities">دفتر فنی</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/WomenGroup/Athletes">امور بانوان</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/Youth">امور جوانان</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/HumanResource">امور اداری</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/Accounts">
                    <img src="/icons/poweroff.svg" />
                </NavLink>
            </li>
        </ul>
        <form class="tn-search">
            <input type="text" name="search" placeholder="جستجو..." />
        </form>
    </div>
</nav>
<main class="main">
    <div class="content">
        @Body
    </div>
</main>

<div id="error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

}