@inherits LayoutComponentBase

<main class="main">
    <div class="container">
        <nav class="side-navbar">
            <ul class="nav nav-pills flex-column card">
                <li class="nav-item">
                    <img src="/icons/dashboard.svg" />
                    <NavLink href="/">پنل کاربری</NavLink>
                </li>
                <li class="nav-item">
                    <img src="/icons/projects.svg" />
                    <NavLink href="/Projects">پروژه های عمرانی</NavLink>
                </li>
                <li class="nav-item">
                    <img src="/icons/facilities.svg" />
                    <NavLink href="/SportFacilities">اماکن ورزشی</NavLink>
                </li>
                <li class="nav-item">
                    <img src="/icons/genders.svg" />
                    <NavLink href="/Genders">جنسیت ها</NavLink>
                </li>
            </ul>
        </nav>

        <div class="content">
            <nav class="top-navbar">
                <div class="wrapper">
                    <form class="tn-search">
                        <input type="text" name="search" placeholder="جستجو..." />
                    </form>
                    <ul class="nav align-items-center">
                        <li class="nav-item">
                            <a href="/Account/Manage" class="btn-settings">
                                <img src="/icons/gear.svg" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Account/SignOut" class="btn-signout">
                                <img src="/icons/signout.svg" />
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            @Body
        </div>
    </div>
</main>

<div id="error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
