.main {
    position: relative;
}

.side-navbar {
    top: 0;
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    padding: 64px 0 16px;
    margin-left: var(--spacing-x);
    flex-grow: initial;
    flex-shrink: 0;
}

    .side-navbar .nav {
        height: 100%;
        padding: 0px;
        padding-left: var(--spacing-x);
        gap: 16px;
        background: transparent;
        box-shadow: none;
        /*background-image: linear-gradient(-45deg, rgba(0, 160, 255, 0.86), rgb(0, 72, 162));*/
    }

        .side-navbar .nav .nav-item {
            padding: 8px;
            border-radius: 8px;
            display: flex;
            gap: 8px;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font: 500 13px 'IRANSans';
        }

            .side-navbar .nav .nav-item img {
                width: 24px;
                aspect-ratio: 1;
            }

                ::deep.side-navbar .nav .nav-item a {
                    color: #0fa9ff;
                }

                .side-navbar .nav .nav-item:hover,
                .side-navbar .nav .nav-item:has(a.active) {
                    background-color: #0fa9ff;
                }

                    .side-navbar .nav .nav-item:hover img,
                    .side-navbar .nav .nav-item:has(a.active) img {
                        filter: invert(33%) brightness(1000%);
                    }

                ::deep.side-navbar .nav .nav-item:hover a,
                ::deep.side-navbar .nav .nav-item a.active {
                    color: white;
                }

.content {
    position: relative;
    margin-right: calc(var(--sidebar-width) + var(--spacing-x));
    padding-bottom: 16px;
}

    .content .top-navbar {
        position: sticky;
        top: 0px;
        background: var(--main-bg);
        margin: 0 calc(var(--spacing-x) * -1);
        /*box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2) !important;*/
        z-index: 999;
    }

        .content .top-navbar .wrapper {
            height: 64px;
            padding: 8px var(--spacing-x) 12px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: var(--spacing-x);
        }

            .content .top-navbar .wrapper .tn-search {
                flex-grow: 1;
                position: relative;
            }

                .content .top-navbar .wrapper .tn-search input {
                    outline: none;
                    width: 100%;
                    height: 36px;
                    padding: 4px 0;
                    padding-right: 36px;
                    background: transparent;
                    border-radius: 8px;
                    border: 1px solid transparent;
                    font: 300 12px IRANSans;
                    transition: all ease 250ms;
                    background-image: url('/icons/search.svg');
                    background-repeat: no-repeat;
                    background-position: center right 6px;
                }

                    .content .top-navbar .wrapper .tn-search input:focus {
                        border: 1px solid lightblue;
                        background-color: white;
                    }

            .content .top-navbar .wrapper .nav {
                gap: 8px;
                padding: 0;
            }

                .content .top-navbar .wrapper .nav .btn-signout {
                    padding: 4px;
                    width: 36px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    /*border: 1px solid #aaa;*/
                    border-radius: 50%;
                }

                .content .top-navbar .wrapper .nav .btn-settings {
                    padding: 0px;
                    width: 36px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

#error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
