@page "/SportsGroup/Federations"

@using Microsoft.AspNetCore.Components.QuickGrid

@layout Layout.SportsGroupLayout

<PageTitle>هیات های ورزشی</PageTitle>

<div class="row">
	<div class="col1-3">
		<AllFederationsCard />
	</div>
	<div class="col1-3">
		<ProvinceFederationsCard />
	</div>
	<div class="col1-3">
		<FederationMeetingsCard />
	</div>
</div>
<div class="row">
	<div class="col1-1">
		<CityFederationsCard />
	</div>
</div>

@code {

}
