.city-projects-card {
    background: none;
    box-shadow: none;
}

    .city-projects-card .card-header,
    .city-projects-card .card-body {
        padding: var(--spacing-y) 0;
    }

    .city-projects-card .card-header .title {
        font-size: 14px;
        font-weight: 600;
        color: var(--primary-color);
    }

    .city-projects-card .projects-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

        .city-projects-card .projects-list ::deep.projects-table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 8px;
        }

            .city-projects-card .projects-list ::deep.projects-table thead tr th {
                padding: 4px 8px;
                text-align: center;
                font-size: 13px;
                font-weight: 600;
            }

            .city-projects-card .projects-list ::deep.projects-table thead tr th:first-child {
                padding-right: 0px;
            }

                .city-projects-card .projects-list ::deep.projects-table thead tr th .col-title {
                    justify-content: center;
                }
                .city-projects-card .projects-list ::deep.projects-table thead tr th:first-child .col-title {
                    justify-content: right;
                }

            .city-projects-card .projects-list ::deep.projects-table tbody tr {
                background: #ffffff;
                box-shadow: var(--card-box-shadow);
                transition: all ease-in-out 100ms;
            }

                .city-projects-card .projects-list ::deep.projects-table tbody tr:hover {
                    background: var(--secondary-color);
                }

                .city-projects-card .projects-list ::deep.projects-table tbody tr td {
                    padding: 16px 12px;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 400;
                }
                .city-projects-card .projects-list ::deep.projects-table tbody tr td:first-child {
                    font-weight: 500;
                    text-align: right;
                }

                .city-projects-card .projects-list ::deep.projects-table tbody tr td .info-link {
                    display: flex;
                    justify-content: center;
                }

    .city-projects-card .card-footer {
        justify-content: center;
    }
