<div class="card city-projects-card">
    <div class="card-header border-bottom">
        <h6 class="title">پروژه های نیمه تمام @City!.PersianName</h6>
    </div>
    <div class="card-body">
        <div class="projects-list">
            @foreach(ConstructionProject project in projects!)
            {
                string title = project.Title;

                string progressPercent = project.ProjectCompletionProgresses
                    .Max(m => m.Percentage)
                    .ToString();

                <a class="projects-item" href="/Project/@project.Id">
                    <p>@title</p>
                    <p>%@progressPercent</p>
                </a>
            }
        </div>
    </div>
    <div class="card-footer pt-0">
        <NavLink href="/Projects/List">تمامی پروژه های سال جاری @City!.PersianName</NavLink>
    </div>
</div>

@code {
    [Parameter]
    public City? City { get; set; }

    private AppDbContext context = default!;
    private IQueryable<ConstructionProject>? projects;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    protected override void OnParametersSet()
    {
        projects = context.ConstructionProjects
            .Include(project => project.City)
            .Include(project => project.ProjectCompletionProgresses)
            .Where(project => project.ProjectCompletionProgresses
                .Max(progress => progress.Percentage) < 100);

        if (City!.Id != 0)
        {
            projects = projects
                .Where(m => m.City.Id == City.Id);
        }
    }
}
