<div class="row">
	<div class="col1-3">
		<div class="card cornered1">
			<div class="card-body">
				<div>
					<h6 class="title">اماکن ورزشی وزارت ورزش و جوانان</h6>
					<h2>333</h2>
				</div>
				<div class="d-flex justify-content-between">
					<p>دارای سند:</p>
					<b>128</b>
				</div>
				<div class="d-flex justify-content-between">
					<p>واگذار شده در ماده 88:</p>
					<b>116</b>
				</div>
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card cornered2">
			<div class="card-body">
				<div>
					<h6 class="title">اماکن ورزشی سایر ارگان ها</h6>
					<h2>427</h2>
				</div>
				<div class="d-flex justify-content-between">
					<p>دارای مجوز ماده 5:</p>
					<b>59</b>
				</div>
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card cornered3">
			<div class="card-body">
				<div>
					<h6 class="title">باشگاه های خصوصی</h6>
					<h2>1827</h2>
				</div>
				<div class="d-flex justify-content-between">
					<p>حقیقی:</p>
					<b>1643</b>
				</div>
				<div class="d-flex justify-content-between">
					<p>تملیکی:</p>
					<b>1263</b>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private AppDbContext context = default!;

	private DbSet<AthleticFacility>? sportFacilities;

	private IQueryable<City> cities { get; set; }

	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();

		sportFacilities = context.AthleticFacilities;
		cities = context.Cities.Include(c => c.AthleticFacilities);
	}
}
