<div class="row">
	<div class="col1-3">
		<div class="card cornered1">
			<div class="card-body">
				<h6 class="title">اماکن ورزشی وزارت ورزش و جوانان</h6>
				<h2>333</h2>
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card cornered2">
			<div class="card-body">
				<h6 class="title">اماکن ورزشی سایر ارگان ها</h6>
				<h2>427</h2>
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card cornered3">
			<div class="card-body">
				<h6 class="title">باشگاه های خصوصی</h6>
				<h2>1827</h2>
			</div>
		</div>
	</div>
	<div class="col1-1">
		<div class="card">
			<div class="card-body px-0">
				<div class="row">
					<div class="col3-5 mb-0 border-start">
						<div class="d-flex flex-column h-100">
							<div class="card-header py-0">
								<h6>اماکن دولتی وزارت ورزش</h6>
							</div>
							<div class="card-body pb-0">
								<h3>333</h3>
								<LinearPercentBar Total="333" Value="124" Caption="دارای سند" Class="mb-2" />
								<LinearPercentBar Total="333" Value="116" Caption="واگذار شده در ماده 88" />
							</div>
						</div>
					</div>
					<div class="col2-5 mb-0">
						<div class="d-flex flex-column h-100">
							<div class="card-header py-0">
								<h6>اماکن دولتی سایر ارگان ها</h6>
							</div>
							<div class="card-body pb-0 d-flex flex-row align-items-end justify-content-between">
								<div class="text-end">
									<h3>427</h3>
									<p>دارای مجوز ماده 5: <b>58</b></p>
								</div>
								<div class="half-circle" style="
	width: 170px; height: 85px;overflow: hidden; background-size: 100% 200%;
	background-image: radial-gradient(white 55%, transparent 55%, transparent 70%, white 70%),
	conic-gradient(from -90deg, #5B85AA 0, #5B85AA 20%, lavender 0, lavender 50%);"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col1-2">
		<div class="card">
			<div class="d-flex flex-column">
				<div class="card-header pb-0">
					<h6>باشگاه های خصوصی</h6>
				</div>
				<div class="card-body">
					<h3>1827</h3>
					<LinearPercentBar Total="1827" Value="1349" Caption="حقیقی" Class="mb-2" />
					<LinearPercentBar Total="1827" Value="895" Caption="تملیکی" />
				</div>
			</div>
		</div>
	</div>

	<div class="col2-3">
		<div class="card">
			<div class="card-header pb-0">
				<h6>باشگاه های خصوصی</h6>
			</div>
			<div class="card-body d-flex flex-row align-items-end justify-content-between">
				<div class="text-end">
					<p>مجموع باشگاه ها: <b>@sportFacilities.Count()</b></p>
					<p>حقیقی: <b>@sportFacilities.Count()</b></p>
					<p>حقوقی: <b>@sportFacilities.Count()</b></p>
				</div>
				<div class="half-circle" style="
width: 170px; height: 85px;overflow: hidden; background-size: 100% 200%;
background-image: radial-gradient(white 55%, transparent 55%, transparent 70%, white 70%),
conic-gradient(from -90deg, lightblue 0, lightblue 20%, lavender 0, lavender 50%);"></div>
			</div>
		</div>
	</div>
	<div class="col1-3">
		<div class="card">

		</div>
	</div>
</div>

@code {
	private AppDbContext context = default!;

	private DbSet<AthleticFacility> sportFacilities;

	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();

		sportFacilities = context.AthleticFacilities;
	}
}
