.courses-top-menu {
    padding: 12px 16px;
    margin-bottom: 16px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .courses-top-menu .panel-title {
        margin: 0;
        padding: 4px 0;
        font-size: 14px;
    }

    .courses-top-menu .top-menu-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }

        .courses-top-menu .top-menu-links .panel-link {
            margin: 0;
            padding: 0;
            font-size: 13px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            font-weight: 500;
            color: var(--primary-color);
        }

.courses-employees-card {
    background: none;
    box-shadow: none;
    overflow: visible;
    padding: 0;
}

    .courses-employees-card .card-header {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .courses-employees-card .card-body {
        padding: var(--spacing-x);
        background: var(--card-bg);
        box-shadow: var(--card-box-shadow);
    }

    .courses-employees-card .card-body .courses-employees-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

        .courses-employees-card .card-body .courses-employees-list ::deep.courses-table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
        }

            .courses-employees-card .card-body .courses-employees-list ::deep.courses-table thead tr {
                background-color: var(--primary-color);
                color: var(--light-color);
            }
                .courses-employees-card .card-body .courses-employees-list ::deep.courses-table thead tr th {
                    padding: 12px 12px 8px;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 600;
                }

                    .courses-employees-card .card-body .courses-employees-list ::deep.courses-table thead tr th .col-title {
                        justify-content: center;
                        font-size: 13px;
                        font-weight: 600;
                    }

                    .courses-employees-card .card-body .courses-employees-list ::deep.courses-table thead tr th:first-child .col-title {
                        justify-content: right;
                    }

            .courses-employees-card .card-body .courses-employees-list ::deep.courses-table tbody tr {
                background: #ffffff;
            }

                .courses-employees-card .card-body .courses-employees-list ::deep.courses-table tbody tr:nth-child(2n) {
                    background: var(--light-color);
                }

                .courses-employees-card .card-body .courses-employees-list ::deep.courses-table tbody tr:hover {
                    transform: scale(1.01);
                    box-shadow: 0 0 8px 0px dimgray;
                }

                .courses-employees-card .card-body .courses-employees-list ::deep.courses-table tbody tr td {
                    padding: 8px 12px;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 400;
                }

                    .courses-employees-card .card-body .courses-employees-list ::deep.courses-table tbody tr td:first-child {
                        font-weight: 500;
                        text-align: right;
                    }

                    .courses-employees-card .card-body .courses-employees-list ::deep.courses-table tbody tr td:last-child {
                        display: flex;
                        flex-direction:row;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 16px;
                    }

        .courses-employees-card .card-body .add-link {
            margin-top: 8px;
            padding: 12px 8px 0;
            border-top: 1px solid lightgray;
            text-align: center;
            font-size: 13px;
        }

    .courses-employees-card .paginator {
        margin: 0;
        padding: 0;
        width: 100%;
        border: none;
    }

        .courses-employees-card .paginator nav {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

            .courses-employees-card .paginator nav .buttons-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 8px;
            }

            .courses-employees-card .paginator nav * {
                color: var(--dark-color);
                border-color: var(--primary-color);
            }
