@page "/Dashboard/HumanResource/Education"

@inject IdentityUserAccessor UserAccessor

<PageTitle>شناسنامه آموزشی</PageTitle>

<AuthorizeView Roles="Administrators">
    <Authorized>
        <div class="courses-top-menu">
            <h6 class="panel-title">مدیریت شناسنامه آموزشی</h6>
            <span class="top-menu-links">
                <a class="panel-link" href="/Dashboard/Courses/Employees">
                    <img src="/icons/course-users.svg" />
                    فهرست افراد
                </a>
                <a class="panel-link" href="/Dashboard/Courses/Add">
                    <img src="/icons/course-add.svg" />
                    افزودن دوره
                </a>
            </span>
        </div>
        <div class="row">
            <div class="col1-1">
                <CoursesCard />
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <UserCoursesCard User=@User />
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private ApplicationUser? User;

    protected override async Task OnInitializedAsync()
    {
        User = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}

