@page "/Dashboard/Employee/Courses/{Id}"

@inject IdentityUserAccessor UserAccessor

<PageTitle>شناسنامه آموزشی</PageTitle>

<AuthorizeView Roles="Administrators">
    <Authorized>
        <div class="courses-top-menu">
            <h6 class="panel-title">مدیریت شناسنامه آموزشی</h6>
            <span class="top-menu-links">
                <a class="panel-link" href="/Dashboard/Courses/Employees">
                    <img src="/icons/course-users.svg" />
                    فهرست افراد
                </a>
                <a class="panel-link" href="/Dashboard/Courses/Add">
                    <img src="/icons/course-add.svg" />
                    افزودن دوره
                </a>
            </span>
        </div>
        <div class="row">
            <div class="col1-1">
                <Reporter.Components.Dashboard.Pages.Courses.UserCoursesCard User=@User/>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string? Id { get; set; }

    private AppDbContext context = default!;

    private ApplicationUser? User;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();

        User = await UserManager.FindByIdAsync(Id!);
    }
}

