@page "/Champions"

@implements IAsyncDisposable

<PageTitle>Champions</PageTitle>

<h2 class="page-title mb-3">مدال آوران و قهرمانان</h2>

<ChampionsSummaryCards />

@code {
	private AppDbContext context = default!;

	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();
	}

	public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
