@page "/Champions"

<PageTitle>Champions</PageTitle>

<h2 class="page-title mb-3">مدال آوران و قهرمانان</h2>

<div class="row">
    <div class="col1-1">
        <ChampionsApproachCard />
    </div>
</div>

<div class="row">
    <div class="col1-1">
        <div class="card">
            <div class="card-header">
                <h6 class="title">ورزش قهرمانی در سال @year</h6>
                <InputSelect class="select" @bind-Value="year">
                    @foreach (int year in years)
                    {
                        <option value="@year">@year</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>
</div>

<ChampionsYearSummaryCards Year="@year" />

@code {
    private AppDbContext context = default!;

    private int year;
    private List<int> years = new List<int>();

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        years = context.Champions
            .Include(champion => champion.Tournament)
            .GroupBy(champion => champion.Tournament.Year)
                .Select(group => group.Key)
            .OrderByDescending(year => year)
            .ToList();

        year = years.FirstOrDefault();
    }

}
