@page "/"


<PageTitle>Dashboard</PageTitle>

<h2 class="page-title mb-3">پنل کاربری</h2>
<FacilitiesCard />
<CityFacilitiesCard />
<SportsCoursesCards />
<div class="row">
	<div class="col1-2">
		<div class="card">
			<div class="card-header">
				<h6>دوره های مربیگری</h6>
			</div>
			<div class="card-body">
				<p>تعداد مربیان: <b>@coachesCount</b></p>
				<p>تعداد داوران: <b>@refereesCount</b></p>
			</div>
		</div>
	</div>
	<div class="col1-2">
		<div class="card">
			<div class="card-header">
				<h6>دوره های مربیگری</h6>
			</div>
			<div class="card-body">
				<p>هیات های فعال استانی: <b>@provinceFederationsCount</b></p>
				<p>هیات های فعال شهرستان ها و بخش ها: <b>@citiesFederationsCount</b></p>
			</div>
		</div>
	</div>
</div>

@code {
	private AppDbContext context = default!;

	private DbSet<AthleticFacility> sportFacilities;

	private int coachesCount;
	private int refereesCount;

	private int provinceFederationsCount;
	private int citiesFederationsCount;

	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();

		sportFacilities = context.AthleticFacilities;

		var sportCourseParticipants = context.SportsCourses
			.Include(scp => scp.Participants)
			.Select(scp => scp.Participants);

		coachesCount = context.SportsCourses
			.Include(sc => sc.Participants).Count();

		refereesCount = context.SportsCourses
			.Include(sc => sc.Participants).Count();

		provinceFederationsCount = context.Federations
			.Include(f => f.FederationPresidents)
			.Where(f => f.City == null)
			.Where(f => f.FederationPresidents != null)
			.Count();

		provinceFederationsCount = context.Federations
			.Include(f => f.FederationPresidents)
			.Where(f => f.City != null)
			.Where(f => f.FederationPresidents != null)
			.Count();
	}
}
