@page "/"


<PageTitle>Dashboard</PageTitle>

<div class="container">
	<h2 class="page-title my-3">در یک نگاه</h2>
	<ProvinceFacilitiesStatusCard />
	@* <CityFacilitiesCard /> *@
	@* <SportsCoursesCards /> *@
	<ChampionsSummaryCards />
</div>

@code {
	private AppDbContext context = default!;

	private DbSet<Facility> sportFacilities;

	private int coachesCount;
	private int refereesCount;

	private int provinceFederationsCount;
	private int citiesFederationsCount;

	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();

		sportFacilities = context.Facilities;

		// var sportCourseParticipants = context.SportsCourses
		// 	.Include(scp => scp.Participants)
		// 	.Select(scp => scp.Participants);

		// coachesCount = context.SportsCourses
		// 	.Include(sc => sc.Participants).Count();

		// refereesCount = context.SportsCourses
		// 	.Include(sc => sc.Participants).Count();

		// provinceFederationsCount = context.CityFederations
		// 	.Include(f => f.FederationPresidents)
		// 	.Where(f => f.City.Id == 0)
		// 	.Where(f => f.FederationPresidents != null)
		// 	.Count();

		// citiesFederationsCount = context.CityFederations
		// 	.Include(f => f.FederationPresidents)
		// 	.Where(f => f.City.Id != 0)
		// 	.Where(f => f.FederationPresidents != null)
		// 	.Count();
	}
}
