@page "/"

<div class="content-container">
	<FacilitiesCard />
	<CityFacilitiesCard />
	<div class="row">
		<div class="col2-5">
			<div class="card">
				<div class="card-header pb-0">
					<h6>دوره های آموزشی</h6>
				</div>
				<div class="card-body">
					<h2 class="total-value">93</h2>
					<div class="couple-value-bar">
						<div class="first-value-bar" style="width: 35%;">
							<span>35%</span>
						</div>
						<div class="last-value-bar" style="width: 65%;">
							<span>65%</span>
						</div>
					</div>
					<div class="captions">
						<span>داوری: <b>32</b></span>
						<span>مربیگری: <b>61</b></span>
					</div>
				</div>
			</div>
		</div>
		<div class="col3-5 mb-0">
			<div class="row h-100">
				<div class="col1-2">
					<div class="card">
						<div class="card-header pb-0">

						</div>
						<div class="card-body">
						</div>
					</div>
				</div>
				<div class="col1-2">
					<div class="card">
						<div class="card-header pb-0">
						</div>
						<div class="card-body">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<style>
		.total-value {
			margin-bottom: 12px;
		}

		.couple-value-bar {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: stretch;
			align-items: stretch;
			gap: 3px;
			height: 24px;
			border-radius: 16px;
		}

			.couple-value-bar > div {
				position: relative;
				flex: 1 1 auto;
				width: 100%;
				background-color: #27bcfd;
				border-radius: 16px 0 0 16px;
				text-align: center;
			}

				.couple-value-bar > div:first-child {
					background-color: #1970e2;
					border-radius: 0 16px 16px 0;
				}

				.couple-value-bar > div > span {
					color: #fff;
					font: 400 11px IRANSans;				
				}

		.captions {
			gap: 32px;
			display: flex;
			align-items: center;
			margin-top: 12px;
		}

			.captions span {
				display: flex;
				align-items: center;
				position: relative;
				font: 400 13px IRANSans;
				gap: 4px;
			}

				.captions span:before {
					display: inline-block;
					width: 12px;
					aspect-ratio: 1;
					border-radius: 50%;
					content: "";
					background-color: #27bcfd;
				}

				.captions span:first-child:before {
					background-color: #1970e2;
				}

	</style>
	<div class="row mb-3">
		<div class="col1-2">
			<div class="card">
				<div class="card-header">
					<h6>دوره های مربیگری</h6>
				</div>
				<div class="card-body">
					<p>تعداد مربیان: <b>@coachesCount</b></p>
					<p>تعداد داوران: <b>@refereesCount</b></p>
				</div>
			</div>
		</div>
		<div class="col1-2">
			<div class="card">
				<div class="card-header">
					<h6>دوره های مربیگری</h6>
				</div>
				<div class="card-body">
					<p>هیات های فعال استانی: <b>@provinceFederationsCount</b></p>
					<p>هیات های فعال شهرستان ها و بخش ها: <b>@citiesFederationsCount</b></p>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private AppDbContext context = default!;

	private DbSet<AthleticFacility> sportFacilities;

	private int coachesCount;
	private int refereesCount;

	private int provinceFederationsCount;
	private int citiesFederationsCount;

	protected override void OnInitialized()
	{
		context = DbFactory.CreateDbContext();

		sportFacilities = context.AthleticFacilities;

		var sportCourseParticipants = context.SportsCourses
			.Include(scp => scp.Participants)
			.Select(scp => scp.Participants);

		coachesCount = context.SportsCourses
			.Include(sc => sc.Participants).Count();

		refereesCount = context.SportsCourses
			.Include(sc => sc.Participants).Count();

		provinceFederationsCount = context.Federations
			.Include(f => f.FederationPresidents)
			.Where(f => f.City == null)
			.Where(f => f.FederationPresidents != null)
			.Count();

		provinceFederationsCount = context.Federations
			.Include(f => f.FederationPresidents)
			.Where(f => f.City != null)
			.Where(f => f.FederationPresidents != null)
			.Count();
	}
}
