@page "/Projects"

@implements IAsyncDisposable

<PageTitle>Construction Projects</PageTitle>

<h2 class="page-title mb-3">پروژه های عمرانی</h2>

<div class="row">
    <div class="col1-1">
        <ProvinceProjectsProgressCard />
    </div>
</div>
<div class="row">
    <div class="col1-1">
        <InputSelect class="select" @bind-Value="cityId" @onclick="SelectCity">
            @foreach (City city in cities!)
            {
                <option value="@city.Id">@city.PersianName</option>
            }
        </InputSelect>
    </div>
</div>
<div class="row">
    <div class="col1-2">
        <CityRuralProjects City=@city />
    </div>
    <div class="col1-2">
        <CityProjectsTypesCard City=@city />
    </div>
</div>
<div class="row">
    <div class="col1-1">
        <CityProjectsCard City=@city />
    </div>
</div>

@code {
    private AppDbContext context = default!;

    private int cityId;

    private City? city;
    private List<City> cities = new List<City>();

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        cities.Add(new City
        {
            Id = 0,
            Name = "Guilan",
            NormalizedName = "GUILAN",
            PersianName = "استان"
        });

        cities.AddRange(context.Cities.ToList());

        SelectCity();
    }

    private void SelectCity()
    {
        city = cities.FirstOrDefault(m => m.Id == cityId);
        // cityName = city!.PersianName;
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}