@page "/Dashboard"

<h3>Dashboard</h3>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink href="/Account/Manage">Account Settings</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/Dashboard/Genders">Genders</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/Dashboard/BuildingOwnerships">Building Ownership Types</NavLink>
    </li>
    <li class="nav-item">
        <NavLink href="/Dashboard/LicenseOwnerships">License Ownership Types</NavLink>
    </li>
</ul>

@code {

}
