@page "/Dashboard/BuildingOwnerships/Create"
@using Microsoft.EntityFrameworkCore
@using Reporter.Models
@inject IDbContextFactory<Reporter.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>BuildingOwnership</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="BuildingOwnership" OnValidSubmit="AddBuildingOwnership" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="BuildingOwnership.Name" class="form-control" /> 
                <ValidationMessage For="() => BuildingOwnership.Name" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/Dashboard/BuildingOwnerships">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private LicenseOwnership BuildingOwnership { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBuildingOwnership()
    {
        using var context = DbFactory.CreateDbContext();
        context.BuildingOwnerships.Add(BuildingOwnership);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/Dashboard/BuildingOwnerships");
    }
}
