@page "/Dashboard/BuildingOwnerships/Delete"
@using Microsoft.EntityFrameworkCore
@using Reporter.Models
@inject IDbContextFactory<Reporter.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>BuildingOwnership</h2>
    <hr />
    @if (buildingownership is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@buildingownership.Name</dd>
        </dl>
        <EditForm method="post" Model="buildingownership" OnValidSubmit="DeleteBuildingOwnership" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(buildingownership is null)">Delete</button> |
            <a href="/Dashboard/BuildingOwnerships">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private BuildingOwnership? buildingownership;

    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        buildingownership = await context.BuildingOwnerships.FirstOrDefaultAsync(m => m.Id == Id);

        if (buildingownership is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteBuildingOwnership()
    {
        using var context = DbFactory.CreateDbContext();
        context.BuildingOwnerships.Remove(buildingownership!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/Dashboard/BuildingOwnerships");
    }
}
