@page "/Dashboard/BuildingOwnerships/Edit"
@using Microsoft.EntityFrameworkCore
@using Reporter.Models
@inject IDbContextFactory<Reporter.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>BuildingOwnership</h2>
<hr />
@if (BuildingOwnership is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="BuildingOwnership" OnValidSubmit="UpdateBuildingOwnership" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="BuildingOwnership.Id" value="@BuildingOwnership.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="BuildingOwnership.Name" class="form-control" />
                    <ValidationMessage For="() => BuildingOwnership.Name" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/Dashboard/BuildingOwnerships">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private Guid Id { get; set; }

    [SupplyParameterFromForm]
    private LicenseOwnership? BuildingOwnership { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        BuildingOwnership ??= await context.BuildingOwnerships.FirstOrDefaultAsync(m => m.Id == Id);

        if (BuildingOwnership is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateBuildingOwnership()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(BuildingOwnership!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BuildingOwnershipExists(BuildingOwnership!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/Dashboard/BuildingOwnerships");
    }

    private bool BuildingOwnershipExists(Guid id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.BuildingOwnerships.Any(e => e.Id == id);
    }
}
