@page "/Dashboard/BuildingOwnerships"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Reporter.Models
@using Reporter.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Reporter.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="/Dashboard/BuildingOwnerships/Create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.BuildingOwnerships">
    <PropertyColumn Property="buildingownership => buildingownership.Name" />

    <TemplateColumn Context="buildingownership">
        <a href="@($"/Dashboard/BuildingOwnerships/Edit?id={buildingownership.Id}")">Edit</a> |
        <a href="@($"/Dashboard/BuildingOwnerships/Details?id={buildingownership.Id}")">Details</a> |
        <a href="@($"/Dashboard/BuildingOwnerships/Delete?id={buildingownership.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
